################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TBCErrorHander/.vs/TBCErrorHander/v15/Server/sqlite3
